<a href="https://colab.research.google.com/github/JaydaBubel/lab-revisiting-machine-learning/blob/master/Lab_Revisiting_Machine_Learning_JaydaB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import datetime
import warnings
import matplotlib.pyplot as plt
import seaborn as sns

warnings.filterwarnings('ignore')

In [3]:
data = pd.read_csv('/content/drive/MyDrive/learningSet.csv')

In [4]:
data.shape

(95412, 481)

Check for null values in all the columns

In [14]:
nulls = data.isnull().sum()
print(nulls)

ODATEDW       0
TCODE         0
STATE         0
ZIP           0
MAILCODE      0
           ...
MDMAUD_R      0
MDMAUD_F      0
MDMAUD_A      0
CLUSTER2    132
GEOCODE2    132
Length: 480, dtype: int64

Exclude the following variables by looking at the definitions. Create a new empty list called drop_list. We will append this list and then drop all the columns in this list later:

OSOURCE - symbol definitions not provided, too many categories
ZIP CODE - we are including state already

In [12]:
excluded_var = ['OSOURCE', 'ZIP CODE'] #vars to exclude
drop_list = [] #create a list
for col in excluded_var: #check columns and defintions
    if col in data.columns:
        drop_list.append(col)

In [13]:
data = data.drop(columns=drop_list) #drop the colums in the list

Identify columns that over 85% missing values

In [15]:
nulls = pd.DataFrame(data.isna().sum()*100/len(data), columns=['percentage'])
nulls.sort_values('percentage', ascending = False).head(50)

          percentage
RDATE_5    99.990567
RAMNT_5    99.990567
RDATE_3    99.746363
RAMNT_3    99.746363
RDATE_4    99.705488
RAMNT_4    99.705488
RAMNT_6    99.186685
RDATE_6    99.186685
RAMNT_15   92.388798
RDATE_15   92.388798
RDATE_23   91.763091
RAMNT_23   91.763091
RDATE_20   91.732696
RAMNT_20   91.732696
RAMNT_7    90.677273
RDATE_7    90.677273
RAMNT_17   90.146942
RDATE_17   90.146942
RDATE_21   90.029556
RAMNT_21   90.029556
RAMNT_10   89.035970
RDATE_10   89.035970
RAMNT_13   87.160944
RDATE_13   87.160944
NUMCHLD    87.018404
RDATE_11   84.551209
RAMNT_11   84.551209
RAMNT_19   83.359535
RDATE_19   83.359535
RDATE_9    82.461326
RAMNT_9    82.461326
RAMNT_24   81.409047
RDATE_24   81.409047
RDATE_18   79.270951
RAMNT_18   79.270951
RDATE_22   78.123297
RAMNT_22   78.123297
RAMNT_8    77.495493
RDATE_8    77.495493
RAMNT_14   75.561774
RDATE_14   75.561774
RAMNT_12   73.064185
RDATE_12   73.064185
RAMNT_16   71.707961
RDATE_16   71.707961
ADATE_15   68.625540
ADATE_23   58.975810
MBCOLECT   55.458433
MAGFEM     55.395548
MBCRAFT    55.395548

Remove those columns from the dataframe

In [16]:
cols_to_keep = list(nulls[nulls['percentage'] < 85].index)
len(cols_to_keep)

455

In [17]:
data[cols_to_keep]

,ODATEDW,TCODE,STATE,ZIP,MAILCODE,PVASTATE,DOB,NOEXCH,RECINHSE,RECP3,...,TARGET_D,HPHONE_D,RFA_2R,RFA_2F,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,CLUSTER2,GEOCODE2
0,8901,0,IL,61081,,,3712,0,,,...,0.0,0,L,4,E,X,X,X,39.0,C
1,9401,1,CA,91326,,,5202,0,,,...,0.0,0,L,2,G,X,X,X,1.0,A
2,9001,1,NC,27017,,,0,0,,,...,0.0,1,L,4,E,X,X,X,60.0,C
3,8701,0,CA,95953,,,2801,0,,,...,0.0,1,L,4,E,X,X,X,41.0,C
4,8601,0,FL,33176,,,2001,0,X,X,...,0.0,1,L,2,F,X,X,X,26.0,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,9601,1,AK,99504,,,0,0,,,...,0.0,0,L,1,G,X,X,X,12.0,C
95408,9601,1,TX,77379,,,5001,0,,,...,0.0,1,L,1,F,X,X,X,2.0,A
95409,9501,1,MI,48910,,,3801,0,,X,...,0.0,1,L,3,E,X,X,X,34.0,B
95410,8601,0,CA,91320,,,4005,0,X,,...,18.0,1,L,4,F,X,X,X,11.0,A
95411,8801,2,NC,28409,,,1801,0,X,,...,0.0,1,L,1,G,C,1,C,12.0,C

Reduce the number of categories in the column GENDER. The column should only have either "M" for males, "F" for females, and "other" for all the rest

In [18]:
gender_value_counts = data['GENDER'].value_counts() #some nulls and randoms appear
print(gender_value_counts)

F    51277
M    39094
      2957
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [23]:
def gender_simplified(value):    #function to categorize gender
    if value not in ['M', 'F']:
        return 'OTHER'
    return value
data['GENDER'] = data['GENDER'].apply(gender_simplified)
gender_new_counts = data['GENDER'].value_counts()
print(gender_new_counts)

F        51277
M        39094
OTHER     5041
Name: GENDER, dtype: int64